.client {
  display: block;
  transition: all 1s;
  &:hover {
    transform: scale(1.2);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

.logo {
  display: block;
  margin: 0;
  max-width: 20rem;
  height: 48px;
  width: auto;
}

.link {
  display: flex;
}



@media (min-width: 62em) {
  .client {
    &:not(:first-child) {
      margin-left: 3rem;
    }
  }
}
