{
    "presets": ["next/babel"],
    "plugins": [
      "styled-jsx/babel",
      ["module-resolver", {
        "root": ["./"],
        "alias": {
          "components": "./components",
          "lib": "./lib",
          "static": "./static",
          "styles": "./styles",
          "utils" : "./utils"
        }
      }]
    ]
  }
