@import '../../../styles/variables';

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  z-index: 11;
  transition: all 1s;
}

.nav__scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  z-index: 11;
  background: white;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  transition: all 1s;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-start;
}

.brand {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  line-height: 12px;
}

.menu {
  display: flex;
  flex-basis: 30%;
  justify-content: flex-end;
}

.link {
  &:hover {
    cursor: pointer;
  }
}

.toggle {
  position: relative;
  background: none;
  border: none;
  padding: 1rem 0 0.5rem 0.5rem;
  color: $dark-grey;
  transition: all 0.3s ease;
  z-index: 20;

  &:hover, &:active, &:focus {
    outline: none;
    color: $primary;
    cursor: pointer;
  }

  svg, rect {
    transform-origin: center;
    transition: all 0.3s ease;
  }

  &.active {
    rect:first-child {
      transform-origin: top left;
      transform: rotate(45deg) translateX(1.5px);
    }

    rect:nth-child(2) {
      opacity: 0;
    }

    rect:nth-child(3) {
      transform-origin: bottom left;
      transform: rotate(-45deg) translateX(2.5px);
    }

    svg {
      transform: rotate(90deg);
    }
  }
}

@media (min-width: 34em) {

  .nav {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

}
