.login {
  margin: 3rem 0;
  margin-top: 150px;
}
.container {
  margin: 0 auto;
  max-width: 190px;
}
.submit {
  text-align: right;
}
.submitText {
  color: rgb(83, 115, 241);
  cursor: pointer;
  font-size: 20px;
  outline: none;
}