.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 2rem;
  z-index: 5;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .Logo {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-start;
  }
  .Brand {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
  }
  .Menu {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 34em) {

  .nav {
    padding-top: 3rem;
  }

}
