:global {

  .animated-logo {
    height: 3rem;

    .camera-lens {
      transform-origin: 2.25rem 1.5rem;
      animation: lens 1.5s linear forwards 1s;
    }

    .text {
      transform-origin: right;
      animation: text 0.8s linear forwards 3s;
      opacity: 0;
    }
  }

  .animated-logo__wrapper {
    &::after {
      content: '';
      position: absolute;
      top: 0.5rem;
      left: 1.25rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0;
      animation: flare 0.8s ease-out 2.5s;
    }
  }

  @keyframes lens {
    10% {
      transform: rotate(30deg);
    }

    30% {
      transform: rotate(30deg);
    }
    
    50% {
      transform: rotate(210deg);
    }

    70% {
      transform: rotate(210deg);
    }
  }

  @keyframes text {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes flare {
    0% {
      opacity: 1;
      transform: scale(0);
    }

    100% {
      opacity: 0;
      transform: scale(6);
    }
  }

}