.feature {
  margin: 2.5rem auto;
  width: 15rem;
  text-align: center;
}

.iconWrapper {
  margin: 0 auto 1rem;
  width: 1.75rem;
  height: 1.75rem;
}

.text {
  margin: 0;
}

@media (min-width: 25em) {

  .feature {
    lost-column: 1/2 2 4rem flex;
  }

}

@media (min-width: 48em) {

  .feature {
    display: flex;
    text-align: left;
  }

  .iconWrapper {
    flex: 0 0 1.75rem;
    margin: 0 1rem 0 0;
  }
}
