.heading {
	flex: 1 1 100%;
}

.list {
	flex: 1 1 100%;
}

.heading {
	margin-bottom: 3rem;
}


@media (min-width: 62em) {
	.heading {
		flex: 1 1 33%;
		padding-right: 3rem;
		margin-bottom: 0;
	}

	.list {
		flex: 1 1 66%;
	}
}
