@import '~styles/variables';

.section {
  margin: 2.5rem 0;
}

.heading {
  font-size: 1.5rem;
  color: $dark-grey;
}

.flexWrapper {
  lost-flex-container: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 62em) {

  .section {
    margin: 5rem 0;
  }

}