@import '~styles/variables';

.section {
  padding: 2.5rem 0;
}

.heading {
  font-size: 1.5rem;
  color: $dark-grey;
}

.flexWrapper {
  lost-flex-container: row;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 62em) {

  .section {
    padding: 5rem 0;
  }

}
