@import '~styles/variables'; 

.intro {
  padding-top: 12rem;
  padding-bottom: 3rem;
  background-color: #37474F;
}

.preamble {
  margin: 0 auto 2.5rem;
  color: #fff;
  text-align: center;
}

.phoneWrapper {
  position: relative;
  width: 100%;
}

.phoneHorizontal {
  display: none;
}

.phoneVertical {
  display: block;
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
}

.content {
  position: absolute;
  left: 50%;
  width: 90%;
  max-width: 20rem;
  top: 5rem;
  padding: 5% 5%;
  text-align: center;
  transform: translate3d(-50%, 0, 0);
}

.heading {
  color: #fff;
  font-size: 1.5rem;
}

.text {
  color: $light-grey;
}

@media (min-width: 48em) {

  .intro {
    padding-bottom: 0;
  }

  .container {
    display: flex;
  }

  .preamble {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 3rem;
  }

  .phoneVertical {
    display: none;
  }

  .phoneHorizontal {
    display: block;
    margin: 0 auto;
  }

  .content {
    top: 5%;
    left: 15%;
    transform: none;
    text-align: left;
    max-width: 45%;
  }

}

@media (min-width: 62em) {

  .heading {
    font-size: 2rem;
  }

  .content {
    top: 10%;
  }
}