@import '../../../styles/variables';

.item {
	margin: 3rem 0;
	margin-top: 0;
}

.title {
	margin: 1rem 0;
	font-size: 1.25rem;
	color: $dark-grey;
}

.link {
	color: $primary;
}

@media (min-width: 48em) {

	.item {
		lost-column: 1/2 2 3rem flex;
	}

}
