@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500');

@import '/styles/normalize';
@import '/styles/variables';

@import '/styles/container';

//svgs
@import '/styles/feature-icon';
@import '/styles/logo-animation';


* {
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.7;
  color: $mid-grey;
}

body {
  overflow-y: scroll;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

p {
  margin: 0;
}

p + p {
  margin-top: 1rem;
}

a {
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.heading--large {
  font-size: 2rem;
  font-weight: 100;

  @media (min-width: 48em) {
    font-size: 3rem;
  }
}
