@import '../styles/variables';

.section {
  padding: 2.5rem 0;
}

.flexWrapper {
  lost-flex-container: row;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sponsors {
  text-align: center;
}

.clients {
  text-align: center;
}

@media (min-width: 62em) {

  .section {
    padding: 5rem 0;
  }

  .sponsorsList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .clientsList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

}
