@import 'variables';

.navbar {
  width: 100%;
  &_full {
    display: flex;
    justify-content: center;
    .navbar__content {
      width: 60rem;
    }
    a:not(:last-child), .navbar__separator {
      margin-right: 2rem;
    }
    .navbar__button:not(:last-child) {
      margin-right: .5rem;
    }
  }
  &_open {
    .navbar__content {
      background: white;
    }
    .navbar__menu {
      display: block;
    }
  }
  &__flex {
    flex: 1;
  }
  &__separator {
    width: 1px;
    height: 1.6rem;
    background: $light-grey;
  }
  &__content {
    z-index: 100;
    display: flex;
    overflow-x: auto;
    position: relative;
    align-items: center;
    padding: 1.6rem 2rem;
    justify-content: space-between;
    &__home {
      svg {
        height: 1.8rem;
      }
    }
    a {
      font-size: 1.1rem;
      font-weight: 600;
      color: $dark-grey;
      &:hover {
        color: $dark-grey;
      }
    }
  }
  &__button {
    display: flex;
    height: 2.6rem;
    flex-shrink: 0;
    padding: 0 1rem;
    align-items: center;
    border-radius: 1.3rem;
    border: .1rem solid $light-grey;
    transition: background .2s linear;
    &:hover {
      background: $offwhite;
    }
    &_circle {
      padding: 0;
      width: 2.6rem;
      justify-content: center;
    }
    span {
      margin-left: .4rem;
    }
    svg {
      max-width: 1.2rem;
      max-height: 1.2rem;
    }
  }
  &__menu {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    display: none;
    position: fixed;
    overflow-y: auto;
    padding-top: 6rem;
    background: white;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li a {
        display: block;
        font-weight: 600;
        color: $dark-grey;
        font-size: 1.6rem;
        padding: .4rem 2rem;
      }
    }
  }
}
